body {

background-color: lightblue;

}
li {
display: inline-block;
color: black;
background-color: grey;
width: 100px;
padding: 30px;

}

li:hover{
  background-color: white;
}

li.active{
  background-color: darkblue;

}
